@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
}
.success {
}

.loading {
}
.loader {
  height: 50px;
  width: 50px;
  border: solid lightgray 3px;
  border-bottom: none;
  border-radius: 50%;
  animation-name: loader;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
